<!doctype html>
<html lang="en">
<% include ./partial/head.ejs %>
<body>
    <div class="container">
        <div class="header">头部</div>
        <p>22222这是第2个页面</p>
        <a href="./index.html">去第1个页面</a>
    </div>
</body>
<script src="./js/script-f68e42150f.js"></script>
</html>