<!doctype html>
<html lang="en">
<% include ./partial/head.ejs%>
<body>
    <div class="container">
        <div class="header">头部</div>
        <p>11111111这是第一个页面</p>
        <a href="./index2.html">去第二个页面</a>
    </div>
</body>
<script src="./js/script-628556e68d.js"></script>
</html>